<!-- _EditScheduleModal.cshtml -->
<div class="modal fade" id="editScheduleModal" tabindex="-1" aria-labelledby="editScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="editScheduleModalContent">
            <!-- Partial view content (edit form) will be injected here -->
        </div>
    </div>
</div>
